[submodule "deps/WavPack"]
	path = deps/WavPack
	url = https://github.com/dbry/WavPack
[submodule "deps/faad2"]
	path = deps/faad2
	url = https://github.com/knik0/faad2
[submodule "deps/ogg"]
	path = deps/ogg
	url = https://github.com/xiph/ogg
[submodule "deps/faac"]
	path = deps/faac
	url = https://github.com/knik0/faac
[submodule "deps/flac"]
	path = deps/flac
	url = https://github.com/xiph/flac
[submodule "deps/vorbis"]
	path = deps/vorbis
	url = https://github.com/xiph/vorbis
[submodule "deps/libid3tag"]
	path = deps/libid3tag
	url = https://github.com/markjeee/libid3tag
[submodule "deps/libmad"]
	path = deps/libmad
	url = https://github.com/markjeee/libmad
