*.o
*.out
*.obj

*.vcproj.*.user
*.cod
*.ncb
*.suo
*.manifest
*.res
*.idb
*.pdb
*.ilk
*.exp
*.dep

debug
release
bin
docs/libAudio

libAudio/Release
libAudio/Debug
libAudio_TestApp/Release
libAudio_TestApp/Debug
libAudio_TestApp/libAudio_TestApp
libAudio_ReEncode_Ogg/Release
libAudio_ReEncode_Ogg/Debug
libAudio_ReEncode_Ogg/libAudio_ReEncodeApp
libAudio_S3MHasCmd/libAudio_S3MHasCmd
Spectrometer/Release
Spectrometer/Debug

libAudio/*.a
libAudio/*.pc
libAudio/*.so*

libAudio/fixedPoint/tests/TestLinearSlideDown
libAudio/fixedPoint/tests/TestLinearSlideUp
