[submodule "deps/WavPack"]
	path = deps/WavPack
	url = https://github.com/dbry/WavPack
[submodule "deps/faad2"]
	path = deps/faad2
	url = https://github.com/knik0/faad2
[submodule "deps/ogg"]
	path = deps/ogg
	url = https://github.com/xiph/ogg
[submodule "deps/faac"]
	path = deps/faac
	url = https://github.com/knik0/faac
[submodule "deps/libid3tag"]
	path = deps/libid3tag
	url = https://github.com/markjeee/libid3tag
[submodule "deps/libmad"]
	path = deps/libmad
	url = https://github.com/markjeee/libmad
[submodule "deps/libmpc"]
	path = deps/libmpc
	url = git@github.com:dragonmux/libmpc
[submodule "deps/libreplaygain"]
	path = deps/libreplaygain
	url = git@github.com:dragonmux/libreplaygain
[submodule "deps/libcuefile"]
	path = deps/libcuefile
	url = git@github.com:dragonmux/libcuefile
[submodule "deps/mp4v2"]
	path = deps/mp4v2
	url = git@github.com:dragonmux/mp4v2
[submodule "deps/openal-soft"]
	path = deps/openal-soft
	url = git://repo.or.cz/openal-soft.git
[submodule "deps/opusfile"]
	path = deps/opusfile
	url = https://github.com/xiph/opusfile.git
[submodule "deps/opus"]
	path = deps/opus
	url = https://github.com/xiph/opus.git
[submodule "deps/libopusenc"]
	path = deps/libopusenc
	url = https://gitlab.xiph.org/xiph/libopusenc.git
