*.o
*.out
*.obj

*.vcproj.*.user
*.cod
*.ncb
*.suo
*.manifest
*.res
*.idb
*.pdb
*.ilk
*.exp
*.dep

build
debug
release
bin
docs/libAudio

libAudio_S3MHasCmd/libAudio_S3MHasCmd
Spectrometer/Release
Spectrometer/Debug

libAudio/*.a
libAudio/*.pc
libAudio/*.so*

libAudio/fixedPoint/tests/TestLinearSlideDown
libAudio/fixedPoint/tests/TestLinearSlideUp

WMA*/Debug
WMA*/Release

.cache
.vscode

deps/*
deps/packagecache
!deps/packagefiles
!deps/*.wrap
